.contact_wrapper svg {
  font-size: 1em;
  vertical-align: middle;
  margin-right: 5px;
}

.contact-form {
  padding-top: 20px;

  button {
    float: right;
    background-color: #0c8df0;
    color: white;
  }

  button:hover {
    background-color: #f09c0c;
  }
}

label {
  font-size: 1.2rem;
  font-family: 'DomaineDispNar-Medium', sans-serif;
}

.form-flex {
  display: flex;
  gap: 15px;
  padding-bottom: 15px;
}

.form-flex .MuiFormControl-root {
  width: 100%;
}

form {
  width: 100% !important;
}

.MuiTextField-root {
  background-color: #151b23;
  color: white;
}

.light-mode {
  .MuiTextField-root {
    background-color: #fcfeff;
    color: #151b23;
  }
  .contact-form {

    button {
      background-color: #860cf0;
    }

    button:hover {
      background-color: #f09c0c;
    }
  } 
}

.body-form {
  width: 100% !important;
  margin-bottom: 15px !important;
}